body {
  background: #e4f0f2;
}


.textBtn {
  position: relative;
  margin-bottom: 30px;
}


.postItem .alreadyDo {
  display: none;
}

.postItem.checked .alreadyDo {
  display: block;
}

.postItem.checked .needDo {
  display: none;
}


